#root {
  width: 100%;
  max-width: none;
  margin: 0;
  padding: 1rem;
  text-align: center;
  box-sizing: border-box;
}

.custom-day {
  font-size: 14px !important;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 !important;
  margin: 0 !important;
}
